/* === MEDIA QUERY VARS === */

$small: 320px;
$medium: 768px;
$large: 1024px;

/* === COLORS === */
$c-white: #fff;
$c-blue: #0014ff;
$c-dark-gray: #4d4d4d;
$c-dark-gray1: #262626;
$c-light-gray: #d0d0d0;